@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body{
    background: #222;
    color: #888
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    cursor: default;
}

.navbar a{
    font-size: 25px;
    color: #888;
    text-decoration: none;
    margin-left: 20px;
    transition: .2s;
}

.navbar a:hover,
.navbar .active{
    color: #fff;
    text-shadow: 0 0 15px #fff;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
}

.home-content{
    max-width: 50vw;
}

.home-content h3{
    font-size: 3vw;
    margin: 0 0 10px 0;
}

.home-content h3 span{
    color: #fff;
}

.home-content h1{
    font-size: 5vw;
    color: #fff;
    margin: 0 0 30px 0;
}

.home-content p{
    font-size: 2vw;
}

.home-img img{
    max-width: 30vw;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    background: transparent;
    font-size: 3vw;
    color: #fff;
    text-decoration: none;
    border:  2px solid #fff;
    border-radius: 50%;
    margin: 30px 15px 30px 0;
    transition: 
        box-shadow .5s ease,
        color .5s ease,
        background .5s ease;
}

.social-media a:hover{
    color: #222;
    background: #fff;
    box-shadow: 0 0 15px #fff;
}

.btn{
    display: inline-block;
    font-size: 3vw;
    background: #222;
    color: #fff;
    padding: 1vw 3vw;
    border-radius: 20px;
    border:  2px solid #fff;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 
        box-shadow .5s ease,
        color .5s ease,
        background .5s ease;
}

.btn:hover{
    color: #222;
    background: #fff;
    box-shadow: 0 0 15px #fff;
}

@media (min-width: 1200px) {
    
}